<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <title>footer : fragment</title>
  </head>

  <body>
    <!-- フッター -->
    <footer id="copyright" class="py-1 bg-dark text-light" th:fragment="footer">
      <div class="container text-center">
        <!--コピーライト-->
        <p>
          <small>Copyright &copy;2022 Keita SATOU, All Rights Reserved.</small>
        </p>
      </div>

    </footer>
    </body>
</html>
    